<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <title>home</title>
</head>
<body>
<h1 th:text="${'Welkom terug: ' + person.getFirstName() + ' ' + person.getLastName()}"></h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-primary border-primary" style="width: 18rem;">
                <img class="card-img-top" th:src="@{/resources/images/Icon_Tasks.png}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Taken</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Ga verder</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-primary border-primary" style="width: 18rem;">
                <img class="card-img-top" th:src="@{/resources/images/Icon_Statistics.png}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Overzicht</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Ga verder</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-primary border-primary" style="width: 18rem;">
                <img class="card-img-top" th:src="@{/resources/images/Icon_Language.png}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Taal aanpassen</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Ga verder</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

